**/.gradle/**
/.gradle/
*~
.gradle
**/build
**/out
**/buildSrc/lib
**/buildSrc/build
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings
**/bin
*.DS_Store
*.idea
*.nb-gradle
*/test-output
**/test-output
/build
**/*.log
**/*.pid
*/api-docs
**/tmp
**/api-docs.zip
**/logs
.vscode
svc-service/src/main/resources/*.yml
**/src/generated/**